{% include "registration/header.djt" %}
{% load staticfiles %}
{% block content %}
<div class="pusher">
    <div class="ui container">
    {% if validlink %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Change password</button>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
</div>
{% endblock %}