<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% if conference %}
    <title> NITW Conf | {{conference.conferenceName}} </title>
    {% else %}
    <title> NITW Conf | 404 </title>
    {% endif %}
    <style>
    .navbar {
      margin-bottom: 0;
    }
    .sidebar {
      background-color: #f5f5f5;
    }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">

            {% if conference %}
            <a class="navbar-brand" href="/conferences/{{conference.alias}}">{{conference.alias|upper}}</a>
            {% else %}
            <a class="navbar-brand" href="/conferences">NITW Conf</a>
            {% endif %}



        </div>
      </div>
    </nav>

     <div class ="jumbotron">
        <div class = "container">
         <h2>Oops! The page you are looking for is not found!</h2>


       </div>
     </div>

     <div class="container">
       <div class="row">
         <div class="col-md-12">

           {% if conference %}
            Meanwhile you can browse through other pages <a href="/conferences/{{conference.alias}}">here</a>.
             {% else %}
            Meanwhile you can browse through other conferences at NIT Warangal <a href="/conferences">here</a>.

           {% endif %}
         </div>



       </div>

     </div>


     <footer class="footer">
       <div class="container">
        <p>NITW Conference Manager</p>
       </div>

     </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>
